.table-wrap {
  width: 100%;
  overflow-x: auto;
}

table {
  // width: max-content;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.selected-row-class {
  background-color: #d9ead3;
}

@media (min-width: 900px) {
  table {
    table-layout: fixed;
    width: 100%;
    font-size: 0.9rem;

    tbody tr.filled-row:hover {
      cursor: pointer;
    }
  }
}
