// /* RESET & FONTS */
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Inter:wght@400;600&display=swap");

// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// body {
//   background-color: #050505; /* Deep Black */
//   color: #e0e0e0;
//   font-family: "Inter", sans-serif;
//   -webkit-font-smoothing: antialiased;
// }

// .container {
//   margin: 30px;
//   display: flex;
//   flex-direction: row;
// }

// .col {
//   display: flex;
//   flex-direction: column;
// }

// h3 {
//   margin-bottom: 5px;
// }

// textarea,
// input {
//   margin-bottom: 20px;
// }
